PORT=3000
SESSION_SECRET=d7c3ef34bd279c1c306ed13a491a26f8efe785d308e1e26bc81faf19d8c7bc7c
ADMIN_PIN=2147
BASE_URL=https://bsf-swimming-competition-2026-production.up.railway.app
PAYEE_NAME=BARODA SWIM FRONT
UPI_ID=replace@upi
PAYMENT_QR_URL=bsf-payment-qr.jpeg
GOOGLE_WALLET_ENABLED=false
APPLE_WALLET_ENABLED=false
WHATSAPP_PROVIDER=disabled
